# Groq
GROQ_API_KEY="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"
GROQ_LLM_MODEL_GEMMA2_9B="groq/gemma2-9b-it"
GROQ_LLM_MODEL_LLAMA_70B="groq/llama-3.3-70b-versatile"
GROQ_LLM_MODEL_LLAMA_8B="groq/llama-3.1-8b-instant"
GROQ_LLM_MODEL_GWEN_32B="groq/qwen-qwq-32b"
GROQ_LLM_MODEL_DEEPSEEK_R1="groq/deepseek-r1-distill-llama-70b"
GROQ_LLM_MODEL_META_LLAMA4_MAVERICK_17B="groq/meta-llama/llama-4-maverick-17b-128e-instruct"

# Pinecone
PINECONE_API_KEY="pcsk_3uehrf_UQjeYvPwdbVu8ScHKE6eyd8PYkH4gz62ETLPcMHoEbj3yUMAn3HHW84EYT6TsQe"
PINECONE_INDEX_NAME="sales-agent-miracle-life"
PINECONE_NAMESPACE_COMPANY="company-info"
PINECONE_NAMESPACE_PRODUCT="product-info"

# Agent Resource
AGENT_RESOURCE_URL="http://agent-resource.local:1234"
AGENT_RESOURCE_DELIVERY_URL="${AGENT_RESOURCE_URL}/delivery.php"
AGENT_RESOURCE_STOCK_URL="${AGENT_RESOURCE_URL}/stock.php"
AGENT_RESOURCE_ORDER_URL="${AGENT_RESOURCE_URL}/order.php"

# jsonbin.io
JSONBIN_URL="https://api.jsonbin.io/v3/b"
JSONBIN_API_KEY="$2a$10$fYSnRldepCT2Rt1ysvokUOnGSdgSoKN3ty8gzoXuMiwZj7eXY0hhG"
JSONBIN_ORDERS_COLLECTION_ID="681c58458a456b796699a5ee"

# Checkpoints SQLITE
SALES_AGENT_CHECKPOINTS="sales_agent_checkpoints.db"

# FastAPI + UVICORN
UVICORN_HOST="sales-agent.local"
UVICORN_PORT=9999
UVICORN_RELOAD=False